HELP.md
target/classes
target/generated-sources
target/generated-test-sources
target/maven-status
target/maven-archiver
target/surefire-reports
target/test-classes
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.idea
*.iws
*.iml
*.ipr
**/.DS_Store
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
.gradle
build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
**/build/